@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

body {
  font-family: 'helvetica neue', arial, sans-serif;
  font-size: 14px;
  color: #1f2025;

  @apply bg-background-default text-primary-default;
}

* {
  @apply break-all;
}

.container {
  max-width: 600px;

  @apply m-auto px-4 pb-8;
}

.width-container {
  max-width: 1200px;

  @apply px-4 m-auto;
}

.main-nav {
  margin-bottom: 50px;
}

.main-nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  font-weight: 600;
}

.main-nav ul li {
  display: inline-block;
  padding: 0 10px;
}
